<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<<style>
    div {
        margin-bottom: 10px;
    }
    label {
        display: inline-block;
        width: 150px;
        text-align: right;
    }
    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #2fa7cc;
        color: white;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Добавление студента</title>
</head>
<body style="background-color:powderblue;">
<div class="topnav" >
    <a href="/login?logout">Выход</a>
</div>
<main>
    <h1>Добавить студента</h1>
    <form th:object="${formData}"
          th:action="@{/create}"
          method="post"
          style="margin-left: 35%; margin-top: 10%;">
        <div style="color: red" th:if="${error != null}" th:text="${error}"></div>
        <div>
            <label for="login" class="sr-only">Логин</label>
            <input id="login" type="text" required autofocus
                   th:field="*{login}" >
            <p th:if="${#fields.hasErrors('login')}"
               th:text="${#strings.listJoin(#fields.errors('login'), ', ')}"></p>
        </div>
        <div>
            <label for="password" class="sr-only">Пароль</label>
            <input id="password" type="password" required
                   th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}"
               th:text="${#strings.listJoin(#fields.errors('password'), ', ')}"></p>
        </div>
        <div>
            <label for="name" class="sr-only">Имя</label>
            <input id="name" type="text" required
                   th:field="*{name}">
            <p th:if="${#fields.hasErrors('name')}"
               th:text="${#strings.listJoin(#fields.errors('name'), ', ')}"></p>
        </div>
        <div>
            <label for="surname" class="sr-only">Фамилия</label>
            <input id="surname" type="text" required
                   th:field="*{surname}">
            <p th:if="${#fields.hasErrors('surname')}"
               th:text="${#strings.listJoin(#fields.errors('surname'), ', ')}"></p>
        </div>
        <div>
            <label for="fathersName" class="sr-only">Отчество</label>
            <input id="fathersName" type="text" required
                   th:field="*{fathersName}">
            <p th:if="${#fields.hasErrors('fathersName')}"
               th:text="${#strings.listJoin(#fields.errors('fathersName'), ', ')}"></p>
        </div>
        <div>
            <label for="birthday" class="sr-only">Дата рождения</label>
            <input id="birthday" type="date" required
                   th:field="*{birthday}">
            <p th:if="${#fields.hasErrors('birthday')}"
               th:text="${#strings.listJoin(#fields.errors('birthday'), ', ')}"></p>
        </div>
        <div>
            <label for="nationality" class="sr-only">Национальность</label>
            <input id="nationality" type="text" required
                   th:field="*{nationality}">
            <p th:if="${#fields.hasErrors('nationality')}"
               th:text="${#strings.listJoin(#fields.errors('nationality'), ', ')}"></p>
        </div>
        <div>
            <label for="sex" class="sr-only">Пол</label>
            <input id="sex" type="hidden" required
                   th:field="*{sex}">
            <select name="sex">
                <option value='none' selected>Пол</option>
                <option value='male'>Муж.</option>
                <option value='female'>Жен.</option>
            </select>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>

</main>
<script>
    const today = new Date();
    const year = today.getFullYear()-15;
    const month = today.getMonth();
    const day = today.getDay();
    const limitMax = new Date(year,month,day).toISOString().split('T')[0];
    const yearMin = today.getFullYear()-110;
    const limitMin = new Date(yearMin,month,day).toISOString().split('T')[0];
    document.getElementById("birthday").setAttribute("max", limitMax);
    document.getElementById("birthday").setAttribute("min", limitMin);
</script>
<div th:insert="footer.html :: footer"></div>
</body>
</html>
